.gradient-border {
    border:5px solid hotpink;
    border-radius:16px;
    border:double 5px transparent;
    background-image:linear-gradient(white , white) , linear-gradient(154.83deg, #2BC2F7 21.91%, #5A81FD 72.02%);
    background-origin:border-box;
    background-clip:content-box , border-box
}
.gradient-text {
    background-image: linear-gradient(154.83deg, #2BC2F7 21.91%, #5A81FD 72.02%);
    background-clip: text; /* لدعم متصفحات WebKit مثل Chrome و Safari */
    color: transparent; /* جعل النص شفافًا */
}
select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('./Components/User/Register/Register_Image/Dropdown.png') no-repeat calc(100% - 15px) 50%;
}
.selectService:hover,
.selectService.select {
    background-color: #EEEEEE;
    color: #5A81FD;
}
