.month .fc * {
  text-align: start;
}
.month .fc-h-event .fc-event-main,
.month .fc .fc-daygrid-day.fc-day-today {
  background-color: white;
}

.month .fc .fc-col-header-cell-cushion {
  padding-left: 20px;
  color: black;
}
.month .fc .fc-daygrid-day-top {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.month .fc-theme-standard .fc-scrollgrid,
.month .fc .fc-scrollgrid-section-liquid > td {
  border: none !important;
}
.month .fc .fc-scrollgrid-section-footer > *,
.month .fc .fc-scrollgrid-section-header > * {
  border-right: none !important;
}

.month .fc .fc-daygrid-day-number {
  padding: 0px 0px 0px 4px !important;
}
.month .fc .fc-scrollgrid-section-body table {
  height: 520px !important;
}
.month .fc-theme-standard th {
  border-top: 2px solid #eeee !important;
  border-bottom: 1px solid #eeee !important;
  border-right: 2px solid #eeee !important;
  width: 146px;
}
.month .fc-theme-standard td {
  border: 2px solid #eeee !important;
  width: 146px;
}
/* salender */

.fc-theme-standard .fc-list {
  border: none !important;
}
.fc-theme-standard .fc-list-day-cushion {
  background-color: white !important;
}

.fc-event .fc-event-start .fc-event-end .fc-event-past .fc-list-event:hover {
  background-color: white !important;
}
.fc .fc-list-event-dot {
  display: none;
}
.fc-list-event {
  border-bottom: 2px solid #eeee !important;
}
.fc .fc-list-empty {
  background-color: white;
}
/* day */

.fc .fc-scrollgrid-liquid {
  height: 100%;
  border: none;
}
.day .fc-timegrid-event-harness-inset .fc-timegrid-event {
  box-shadow: 0 0 0 1px var(--fc-page-bg-color);
  border: none;
}
.day .fc-timegrid-event .fc-event-main {
  padding: 1px 1px 0px;
  background-color: white;
}
.day .fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 1.5em;
  background-color: white;
}
.day .fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
  background-color: white;
}
.day .fc .fc-scroller {
  overflow: hidden !important;
}
.day .fc .fc-col-header-cell-cushion {
  display: none;
}
.day .fc .fc-timegrid-axis-cushion {
  display: none;
}

.day .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  display: none;
}
.day .fc .fc-cell-shaded,
.day .fc .fc-day-disabled {
  display: none;
}
.day .fc .fc-scrollgrid-liquid {
  height: 100%;
  border: none;
  padding-top: 20px;
}
.day .fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
  padding: 2px 4px;
}
.day .fc-event-selected::after,
.day .fc-event:focus::after {
  background-color: white;
  z-index: -100;
}
/* date picker  */
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  background-color: white;
  border-bottom: none;
  padding: 10px 0px 0px 0px;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #fdf7f7;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-width: 1px 1px 0 0;

  top: 12px;
}
.react-datepicker__month {
  border-bottom: 1px solid #fdf7f7;
  font-family: "Alegreya";
  font-size: 1rem;
}
.react-datepicker__day-names {
  font-weight: bold;
  font-family: "Alegreya";
  font-size: 1rem;
}
.react-datepicker__day--today {
  color: black;
}

/* تغيير لون أيام الشهور الأخرى */
.react-datepicker__day--outside-month {
  color: #ddd;
}

/* year deopdown */
.react-datepicker__year-read-view {
}
.react-datepicker__year-dropdown {
  width: 15rem;
  height: 16.7rem;
  inset-inline-start: 0rem;
  display: grid;
  background-color: white;
  border: none;
}
