.sidebar_dashboard li.menue_active{
    background-image:linear-gradient(154.83deg, #2BC2F7 21.91%, #5A81FD 72.02%);



}
.sidebar_dashboard li.menue_active span{
    color: white !important;

}
.sidebar_dashboard li.menue_active .icon-menue path{
    fill: white;
}