/* .login .loginImage::after {
  content: "";
  position: absolute;
  border-radius: 12px;
  padding: 3px;
  background: linear-gradient(45deg, #2bc2f7, #5a81fd);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
  width: 63%;
  height: 70%;
  transform: rotate(45deg);
  inset-inline-end: 90px;
  top: 40px;
}
@media (max-width: 992px) {
  .login .loginImage::after {
    inset-inline-end: 50px;
  }
}
@media (max-width: 640px) {
  .login .loginImage::after {
    display: none;
  }
}
.login .loginImage::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 100%;
  background-color: rgb(238, 238, 238);
  transform: rotate(45deg);
  inset-inline-end: -16%;
  top: -10%;
  border-radius: 15px;
  z-index: 1;
} */

.login .input:focus + .placeholder {
  top: -13px;
  transition: 0.4s;
}
